<!-- <p>quotes works!</p> -->
<div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
    <img width="300" alt="Angular Logo" src="../assets/tumblr_static_quoteslogogallery1.jpg">
    </div>
<div>
    <h1>Best Quotes</h1>
    <hr>
    <ul>
      <div *ngFor='let quote of quotes;let i = index'>
        <li>{{quote.name}}</li>
        <button (click)='toggleDetails(i)'>Toggle Details</button>
        <app-quotes-detail *ngIf='quotes.shoeDescription'[quotes]='quote'></app-quotes-detail>
      </div>
    </ul>
  </div>